# 1.1.

In [1]:
import math
import my_custom_module

print(math.sqrt(25))  
print(my_custom_module.my_function())


from my_custom_module import my_function as custom_function
print(custom_function())

try:
    import non_existent_module
except ModuleNotFoundError:
    print("Error: The specified module does not exist.")
except Exception as e:
    print(f"An error occurred:Â {str(e)}")

ModuleNotFoundError: No module named 'my_custom_module'

# 1.2.

In [2]:
import sys
import venv

venv_dir = "my_project_env"
try:
    venv.create(venv_dir, with_pip=True)
    print(f"Virtual environment '{venv_dir}' created successfully.")
except Exception as e:
    print(f"Error creating the virtual environment: {str(e)}")
    sys.exit(1)

Virtual environment 'my_project_env' created successfully.

# 2.1

In [3]:
import mysql.connector 

mydb = mysql.connector.connect(
    host = "127.0.0.1",
    user="root",
    password = "Vikash@99"
    )

mycurs= mydb.cursor()

mycurs.execute("CREATE DATABASE inventory")

"""mycurs.execute("SHOW DATABASE")

for x in mycurs:
    print(x)"""

DatabaseError: 1007 (HY000): Can't create database 'inventory'; database exists

In [9]:
mycurs.execute("CREATE TABLE purchase(purchase_id int primary key, invt_id int foreign key , product_id int) ")

mycurs.execute("CREATE TABLE sales(product_id int primary key, invt_id int foreign key , product_name varchar(225)) ")

mycurs.execute("CREATE TABLE inventory(invt_id int primary key, product_type int varchar(225) , invt_loc varchar(225)) ")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'foreign key , product_id int)' at line 1

# 1.3

# 2.3.

In [ ]:
import mysql.connector

try:
    
    # Database connection parameters
    host = "127.0.0.1"
    username = "root"
    password = "123"
    database_name = "your_database"
    table_name = "your_table"
    cursor = conn.cursor()

    # Create the database if it doesn't exist
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
    cursor.execute(f"""CREATE TABLE IF NOT EXISTS {table_name} (
                   id INT AUTO_INCREMENT PRIMARY KEY,
                   name VARCHAR(255),
                   quantity INT
                   )""")

    # Connect to the MySQL database
    conn = mysql.connector.connect(
        host=host,
        user=username,
        password=password,
        database=database_name
    )
    
    # Create a cursor to interact with the database
    cursor = conn.cursor()
    
       # Sample data to insert
    sample_data = [
        ("ProductA", 10),
        ("ProductB", 20),
        ("ProductC", 15),
        ("ProductD", 30),
        ("ProductE", 25),
    ]

    # Connect to the MySQL database
    conn = mysql.connector.connect(
        host=host,
        user=username,
        password=password,
        database=database_name
    )

    # Create a cursor to interact with the database
    cursor = conn.cursor()

    # Insert sample data into the table
    for data in sample_data:
        name, quantity = data
        cursor.execute(f"INSERT INTO {table_name} (name, quantity) VALUES (%s, %s)", (name, quantity))

    # Commit the changes to the database
    conn.commit()

    # Close the database connection
    conn.close()

    print("Sample data inserted into the table.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

In [ ]:
try:
    import mysql.connector
    
    # Database connection parameters
    host = "127.0.0.1"
    username = "root"
    password = "123"
    database_name = "your_database"
    table_name = "your_table"
    
    conn = mysql.connector.connect(
        host=host,
        user=username,
        password=password,
        database=database_name
    )
    cursor = conn.cursor()
# Create a cursor to interact with the database
    cursor = conn.cursor()
    
    # Retrieve all records from the table
    cursor.execute(f"SELECT * FROM {table_name}")
    records = cursor.fetchall()
    
    # Calculate the total quantity of all records
    total_quantity = sum(record[2] for record in records)
    
    # Double the quantity column of each record and update the database
    for record in records:
        record_id, name, quantity = record
        new_quantity = quantity * 2
        cursor.execute(f"UPDATE {table_name} SET quantity = %s WHERE id = %s", (new_quantity, record_id))
    
    # Commit the changes to the database
    conn.commit()
    
    # Close the database connection
    conn.close()
    
    print("Data retrieval, calculation, and update completed successfully.")
    
except mysql.connector.Error as e:
    print(f"Error: {e}")