# 1.

In [1]:
#Creating a list 
lst = ['Vikash' , 'Kumar' ,'23' ,'Mphasis']

In [2]:
lst

['Vikash', 'Kumar', '23', 'Mphasis']

In [5]:
# (i) add new element to the end of the list
lst.append('2575912')
lst

['Vikash', 'Kumar', '23', 'Mphasis', '2575912', '2575912']

In [8]:
#(ii) to reverse elements in the list
lst.reverse()

In [9]:
lst

['2575912', '2575912', 'Mphasis', '23', 'Kumar', 'Vikash']

In [10]:
#(iii) display the same list of elements multiple times
lst*3

['2575912',
 '2575912',
 'Mphasis',
 '23',
 'Kumar',
 'Vikash',
 '2575912',
 '2575912',
 'Mphasis',
 '23',
 'Kumar',
 'Vikash',
 '2575912',
 '2575912',
 'Mphasis',
 '23',
 'Kumar',
 'Vikash']

In [11]:
#(iv) 
lst1=['Pune', 'Online']
lst1

['Pune', 'Online']

In [15]:
lst.extend(lst1)

In [16]:
lst

['2575912', '2575912', 'Mphasis', '23', 'Kumar', 'Vikash', 'Pune', 'Online']

In [17]:
#(v) sort the elemens in the list
lst.sort()
lst

['23', '2575912', '2575912', 'Kumar', 'Mphasis', 'Online', 'Pune', 'Vikash']

# 2.

In [18]:
# (i) Manupulate using tuples
tup1 = ('India' , 1 , 'America' , 2 , 'France' ,3)
tup1

('India', 1, 'America', 2, 'France', 3)

# (ii) add a new element in the end
tuple is immutable

#(iii)reverse the element in the tuples
tuple is immutable

In [27]:
#(iv) display the elements multiple times
tup1*3

('India',
 1,
 'America',
 2,
 'France',
 3,
 'India',
 1,
 'America',
 2,
 'France',
 3,
 'India',
 1,
 'America',
 2,
 'France',
 3)

In [28]:
#(v) concatination of tuples
tup2 = ('New York' , 5)

tup = tup1+tup2
tup

('India', 1, 'America', 2, 'France', 3, 'New York', 5)

#(vi) sort the elements of tuples
tuple is immutable

# 3.

In [30]:
#(i) Create a list of integers
lst = ['23' , '34' , '12' ,'81', '22' , '3' , '43' , '10' , '27' ,'99']
lst

['23', '34', '12', '81', '22', '3', '43', '10', '27', '99']

In [32]:
#(ii) display the last ele
lst[-1]

'99'

In [33]:
#(iii) display list[0:4]

lst[0:4]

['23', '34', '12', '81']

In [34]:
#(iv) list value of [2:]
lst[2:]

['12', '81', '22', '3', '43', '10', '27', '99']

In [35]:
#(v) list value of [:6]
lst[:6]

['23', '34', '12', '81', '22', '3']

# 4.

In [36]:
tuple1 =(10,50, 20,40,30)
tuple1

(10, 50, 20, 40, 30)

In [53]:
#(i) print the element between 10 to 50
tuple1[0]

10

In [54]:
tuple1[1]

50

In [57]:
#(ii) display length of the tuple
a = len(tuple1)
a

5

In [59]:
#(iii) find min element from tuple1
min_value = tuple1[0]
min_val_ind = 0
for i in range (len(tuple1)):
    if tuple1[i] < min_value:
        min_value = t[i]
        min_val_ind = i
print('Minimum value is : ',min_value)
print('Minimum value index is: ',min_val_ind)

Minimum value is :  10
Minimum value index is:  0

In [63]:
#(iv)add all elements in the tuple1
sum = 0
for i in range (len(tuple1)):
    sum =sum + tuple1[i]
print('Sum of all the elements : ',sum)

Sum of all the elements :  150

# 5.

In [64]:
str = 'Working at Mphasis'
str

'Working at Mphasis'

In [65]:
#(i) length of the string
a = len(str)
a

18

In [88]:
#(ii) reverse the word ing a string
str[::-1]

'sisahpM ta gnikroW'

In [89]:
#(iii) same string multiple times
str*3

'Working at MphasisWorking at MphasisWorking at Mphasis'

In [91]:
#(iv)concatinate two string
str1 = ' North India'
str1

'North India'

In [93]:
str2 = str+str1
str2

'Working at MphasisNorth India'

In [95]:
#(v) print only india in the string
str1[6:]

'India'

# 6.

In [96]:
#(i) create a dictionary
person={'f_name':'Vikash', 'l_name':'kumar', 'age':'23','city':'kolkata'}
person

{'f_name': 'Vikash', 'l_name': 'kumar', 'age': '23', 'city': 'kolkata'}

#(ii) assign values to the key
Values assigned at the time of creation

In [97]:
#(iii) update the dictionary using a function
person.update({'age':'15'})

In [98]:
person

{'f_name': 'Vikash', 'l_name': 'kumar', 'age': '15', 'city': 'kolkata'}

In [99]:
person.pop('city')
person

{'f_name': 'Vikash', 'l_name': 'kumar', 'age': '15'}

# 7.

In [100]:
list = ['23' , '34' , '12' ,'81', '22']
list

['23', '34', '12', '81', '22']

In [103]:
list.insert(2,'44')
list

['23', '34', '44', '44', '12', '81', '22']

# 8.

In [104]:
list.pop(2)
list

['23', '34', '44', '12', '81', '22']

# 9.

In [105]:
for i in range (1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# 10.

In [106]:
tuple2 = (40,22,31,43)
sum = 0
for i in range (len(tuple2)):
    sum =sum + tuple2[i]
print('Sum of all the elements : ',sum)

Sum of all the elements :  136

# 11.

In [1]:
n=10
dict = { 'Square': lambda a : a**2, 
         'Cube': lambda a : a**3, 
         'Squareroot': lambda a : a**(1/2)
         }
sum = 0
for key in dict.keys():
     sum += dict[key](n)
        
        
        
print(sum)

1103.1622776601685

# 12.

In [2]:
    ls=['hello','Dear','hOw','ARe','You']
    res=[]
    for word in ls:
        if(len(word))> 1 and word[1].isupper():
            res.append(word)
            
            
 


    print("words with second  uppercase char : ",res)

words with second  uppercase char :  ['hOw', 'ARe']

# 13.

In [ ]:
WeightonEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Constants
GMoon = 1.622 
GEarth = 9.81 

# Use map and lambda to calculate weights on the Moon
WeightonMoon = dict(map(lambda item: (item[0], (item[1] * GMoon) / GEarth), WeightonEarth.items()))

# Print the results
for name, weight_moon in WeightonMoon.items():
    print(f"{name} weighs {weight_moon:.2f} kilograms on the Moon.")

# Control Structure

# 1.

In [1]:
def generate_primes(N):
    primes = []
    num = 2
    while len(primes) < N:
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
        num += 1
    return primes

N = int(input("Enter the value of N: "))
prime_numbers = generate_primes(N)
print(f"The first {N} prime numbers are: {prime_numbers}")

Enter the value of N: 33
The first 33 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137]

# 2.

In [2]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax

print(f"Gross Salary: {gross_salary}")
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 5000
Enter HRA: 200
Enter TA: 100
Enter DA: 20
Gross Salary: 5320.0
Tax: 532.0
Net Salary: 4788.0

# 3.

In [3]:
my_list = ["apple", "banana", "cherry", "date"]
search_string = input("Enter a string to search: ")

if search_string in my_list:
    print(f"{search_string} found in the list.")
else:
    print(f"{search_string} not found in the list.")

Enter a string to search: apple
apple found in the list.

# 4.

In [4]:
def count_letters(s):
    upper_count = 0
    lower_count = 0
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count

input_string = input("Enter a string: ")
upper, lower = count_letters(input_string)
print(f"Uppercase letters: {upper}")
print(f"Lowercase letters: {lower}")

Enter a string: My Name Is Vikash Kumar
Uppercase letters: 5
Lowercase letters: 14

# 5.

In [5]:
even_sum = 0
odd_sum = 0

for num in range(12, 38):
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

print(f"Sum of even numbers: {even_sum}")
print(f"Sum of odd numbers: {odd_sum}")

Sum of even numbers: 312
Sum of odd numbers: 325

# 6.

In [6]:
def print_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

num = int(input("Enter a number to print its table: "))
print_table(num)

Enter a number to print its table: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# 7.

In [8]:
 def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

count = 0
num = 2
sum_of_primes = 0

while count < 10:
    if is_prime(num):
        sum_of_primes += num
        count += 1
    num += 1

print(f"Sum of the first 10 prime numbers is: {sum_of_primes}")

Sum of the first 10 prime numbers is: 129

# 8.

In [9]:
def arithmetic_operations(a, b, operator):
    if operator == "+":
        result = a + b
    elif operator == "-":
        result = a - b
    elif operator == "*":
        result = a * b
    elif operator == "/":
        if b != 0:
            result = a / b
        else:
            result = "Division by zero is not allowed."
    else:
        result = "Invalid operator"
    
    return result

a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
op = input("Enter the operator (+, -, *, /): ")

result = arithmetic_operations(a, b, op)
print(f"Result: {result}")

Enter the first number: 33
Enter the second number: 56
Enter the operator (+, -, *, /): -
Result: -23.0

# 9.

In [10]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 100
100.0 degrees Celsius is equal to 212.0 degrees Fahrenheit

# 10.

In [11]:
def find_max_min(numbers):
    if not numbers:
        return None, None

    max_num = numbers[0]
    min_num = numbers[0]

    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num

my_list = [10, 5, 8, 20, 3, 15]
max_num, min_num = find_max_min(my_list)
print(f"Maximum number: {max_num}")
print(f"Minimum number: {min_num}")

Maximum number: 20
Minimum number: 3

# 11.

In [12]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

seconds_in_month = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print(f"Number of seconds in a 30-day month: {seconds_in_month}")

Number of seconds in a 30-day month: 2592000

# 12.

In [13]:
days_in_year = 365
seconds_in_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
print(f"Number of seconds in a year: {seconds_in_year}")

Number of seconds in a year: 31536000

# 13.

In [14]:
average_speed_mph = 150
distance_miles = 414

time_hours = distance_miles / average_speed_mph
time_minutes = time_hours * 60

print(f"It will take {time_hours:.2f} hours or {time_minutes:.2f} minutes to travel from London to Glasgow.")

It will take 2.76 hours or 165.60 minutes to travel from London to Glasgow.

# 14.

In [15]:
days_in_each_school_year = 192

total_hours = 0
for year in range(7, 12):
    total_hours += year * days_in_each_school_year

print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

Total hours spent in school from year 7 to year 11: 8640 hours

# 15.

In [16]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"

print(f"The eldest person is {eldest} and the youngest person is {youngest}.")

Enter Ram's age: 33
Enter Sam's age: 43
Enter Khan's age: 22
The eldest person is Sam and the youngest person is Khan.

# 16.

In [18]:
#not tought till now

# Patterns

# 1.

In [3]:
def pascal_tri(numRows):
    for i in range(numRows):
    
        for j in range(numRows-i+1):
            print(end=" ")
    
    
        for j in range(i+1):
            print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    
    print("\n")

pascal_tri(5)

NameError: name 'factorial' is not defined

# 2.

In [29]:
n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

# 3.

In [30]:
n = int(input("Enter the number of rows : "))

for i in range(1, n + 1):
    
    for j in range(n - i):
        print(" ", end=" ")
    
    for j in range(2 * i - 1):
        print("*", end=" ")

    print()

Enter the number of rows : 6
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

# 4.

In [28]:
text = "Python"

for i in range(1, len(text) + 1):
    print(text[:i])

P
Py
Pyt
Pyth
Pytho
Python