# 1.

In [1]:
#Creating a list 
lst = ['Vikash' , 'Kumar' ,'23' ,'Mphasis']

In [2]:
lst

['Vikash', 'Kumar', '23', 'Mphasis']

In [5]:
# (i) add new element to the end of the list
lst.append('2575912')
lst

['Vikash', 'Kumar', '23', 'Mphasis', '2575912', '2575912']

In [8]:
#(ii) to reverse elements in the list
lst.reverse()

In [9]:
lst

['2575912', '2575912', 'Mphasis', '23', 'Kumar', 'Vikash']

In [10]:
#(iii) display the same list of elements multiple times
lst*3

['2575912',
 '2575912',
 'Mphasis',
 '23',
 'Kumar',
 'Vikash',
 '2575912',
 '2575912',
 'Mphasis',
 '23',
 'Kumar',
 'Vikash',
 '2575912',
 '2575912',
 'Mphasis',
 '23',
 'Kumar',
 'Vikash']

In [11]:
#(iv) 
lst1=['Pune', 'Online']
lst1

['Pune', 'Online']

In [15]:
lst.extend(lst1)

In [16]:
lst

['2575912', '2575912', 'Mphasis', '23', 'Kumar', 'Vikash', 'Pune', 'Online']

In [17]:
#(v) sort the elemens in the list
lst.sort()
lst

['23', '2575912', '2575912', 'Kumar', 'Mphasis', 'Online', 'Pune', 'Vikash']

# 2.

In [18]:
# (i) Manupulate using tuples
tup1 = ('India' , 1 , 'America' , 2 , 'France' ,3)
tup1

('India', 1, 'America', 2, 'France', 3)

# (ii) add a new element in the end
tuple is immutable

#(iii)reverse the element in the tuples
tuple is immutable

In [27]:
#(iv) display the elements multiple times
tup1*3

('India',
 1,
 'America',
 2,
 'France',
 3,
 'India',
 1,
 'America',
 2,
 'France',
 3,
 'India',
 1,
 'America',
 2,
 'France',
 3)

In [28]:
#(v) concatination of tuples
tup2 = ('New York' , 5)

tup = tup1+tup2
tup

('India', 1, 'America', 2, 'France', 3, 'New York', 5)

#(vi) sort the elements of tuples
tuple is immutable

# 3.

In [30]:
#(i) Create a list of integers
lst = ['23' , '34' , '12' ,'81', '22' , '3' , '43' , '10' , '27' ,'99']
lst

['23', '34', '12', '81', '22', '3', '43', '10', '27', '99']

In [32]:
#(ii) display the last ele
lst[-1]

'99'

In [33]:
#(iii) display list[0:4]

lst[0:4]

['23', '34', '12', '81']

In [34]:
#(iv) list value of [2:]
lst[2:]

['12', '81', '22', '3', '43', '10', '27', '99']

In [35]:
#(v) list value of [:6]
lst[:6]

['23', '34', '12', '81', '22', '3']

# 4.

In [36]:
tuple1 =(10,50, 20,40,30)
tuple1

(10, 50, 20, 40, 30)

In [53]:
#(i) print the element between 10 to 50
tuple1[0]

10

In [54]:
tuple1[1]

50

In [57]:
#(ii) display length of the tuple
a = len(tuple1)
a

5

In [59]:
#(iii) find min element from tuple1
min_value = tuple1[0]
min_val_ind = 0
for i in range (len(tuple1)):
    if tuple1[i] < min_value:
        min_value = t[i]
        min_val_ind = i
print('Minimum value is : ',min_value)
print('Minimum value index is: ',min_val_ind)

Minimum value is :  10
Minimum value index is:  0

In [63]:
#(iv)add all elements in the tuple1
sum = 0
for i in range (len(tuple1)):
    sum =sum + tuple1[i]
print('Sum of all the elements : ',sum)

Sum of all the elements :  150

# 5.

In [64]:
str = 'Working at Mphasis'
str

'Working at Mphasis'

In [65]:
#(i) length of the string
a = len(str)
a

18

In [88]:
#(ii) reverse the word ing a string
str[::-1]

'sisahpM ta gnikroW'

In [89]:
#(iii) same string multiple times
str*3

'Working at MphasisWorking at MphasisWorking at Mphasis'

In [91]:
#(iv)concatinate two string
str1 = ' North India'
str1

'North India'

In [93]:
str2 = str+str1
str2

'Working at MphasisNorth India'

In [95]:
#(v) print only india in the string
str1[6:]

'India'

# 6.

In [96]:
#(i) create a dictionary
person={'f_name':'Vikash', 'l_name':'kumar', 'age':'23','city':'kolkata'}
person

{'f_name': 'Vikash', 'l_name': 'kumar', 'age': '23', 'city': 'kolkata'}

#(ii) assign values to the key
Values assigned at the time of creation

In [97]:
#(iii) update the dictionary using a function
person.update({'age':'15'})

In [98]:
person

{'f_name': 'Vikash', 'l_name': 'kumar', 'age': '15', 'city': 'kolkata'}

In [99]:
person.pop('city')
person

{'f_name': 'Vikash', 'l_name': 'kumar', 'age': '15'}

# 7.

In [100]:
list = ['23' , '34' , '12' ,'81', '22']
list

['23', '34', '12', '81', '22']

In [103]:
list.insert(2,'44')
list

['23', '34', '44', '44', '12', '81', '22']

# 8.

In [104]:
list.pop(2)
list

['23', '34', '44', '12', '81', '22']

# 9.

In [105]:
for i in range (1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# 10.

In [106]:
tuple2 = (40,22,31,43)
sum = 0
for i in range (len(tuple2)):
    sum =sum + tuple2[i]
print('Sum of all the elements : ',sum)

Sum of all the elements :  136

# 11.

In [107]:
dic = {'square' : '' , 'cube' : '' , 'squareroot' : ''}
dic

{'square': '', 'cube': '', 'squareroot': ''}

## function not tought till now

# 12.

# lamda function not tought

# 13.