In [ ]:
%matplotlib inline 
import pandas as pd

In [9]:
from IPython.core.display import HTML 
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [23]:
titles= pd.read_csv('titles.csv')

titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

How many movies are listed in the titles dataframe?

In [10]:
number_of_movies = titles.shape[0]
print("Number of movies listed:", number_of_movies)

Number of movies listed: 244914

What are the earliest two films listed in the titles dataframe?

In [11]:
earliest_films = titles.sort_values(by='year').head(2)
print("Earliest two films listed:")
print(earliest_films)

Earliest two films listed:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

How many movies have the title "Hamlet"?

In [12]:
hamlet_movies_count = titles[titles['title'] == 'Hamlet'].shape[0]
print("Number of movies with the title 'Hamlet':", hamlet_movies_count)

Number of movies with the title 'Hamlet': 20

How many movies are titled "North by Northwest"

In [13]:
north_by_northwest_count = titles[titles['title'] == 'North by Northwest'].shape[0]
print("Number of movies with the title 'North by Northwest':", north_by_northwest_count)

Number of movies with the title 'North by Northwest': 1

When was the first movie titled "Hamlet" made?

In [14]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
earliest_hamlet_movie = hamlet_movies.sort_values(by='year').iloc[0]
print("The first movie titled 'Hamlet' was made in the year:", earliest_hamlet_movie['year'])

The first movie titled 'Hamlet' was made in the year: 1910

List all of the "Treasure Island" movies from earliest to most

recent.

In [15]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island']
treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')
print("List of 'Treasure Island' movies from earliest to most recent:")
print(treasure_island_movies_sorted)

List of 'Treasure Island' movies from earliest to most recent:
                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

How many movies were made in the year 1950?

In [16]:
movies_1950_count = titles[titles['year'] == 1950].shape[0]
print("Number of movies made in the year 1950:", movies_1950_count)

Number of movies made in the year 1950: 1113

How many movies were made in the year 1960

In [17]:
movies_1960_count = titles[titles['year'] == 1960].shape[0]
print("Number of movies made in the year 1960:", movies_1960_count)

Number of movies made in the year 1960: 1549

How many movies were made from 1950 through 1959?

In [18]:
movies_1950s_count = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)].shape[0]
print("Number of movies made from 1950 through 1959:", movies_1950s_count)

Number of movies made from 1950 through 1959: 12934

In what years has a movie titled "Batman" been released?

In [19]:
batman_movies = titles[titles['title'] == 'Batman']
years_of_batman_movies = batman_movies['year'].unique()
print("Years in which a movie titled 'Batman' has been released:", years_of_batman_movies)

Years in which a movie titled 'Batman' has been released: [1943 1989]

How many roles were there in the movie "Inception"?

In [24]:
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [25]:
inception_movie = titles[titles['title'] == 'Inception']
inception_cast = inception_movie.merge(cast, on='title')
num_roles_in_inception = len(inception_cast)
print("Number of roles in the movie 'Inception':", num_roles_in_inception)

Number of roles in the movie 'Inception': 78

But how many roles in the movie "Inception" did receive an "n" value?

In [26]:
inception_movie = titles[titles['title'] == 'Inception']
inception_cast = cast[(cast['title'] == 'Inception') & (cast['n'].notna())]
num_roles_with_n_value_in_inception = len(inception_cast)
print("Number of roles in the movie 'Inception' with an 'n' value:", num_roles_with_n_value_in_inception)

Number of roles in the movie 'Inception' with an 'n' value: 51

Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [27]:
movie_title = "North by Northwest"
north_by_northwest_cast = cast[(cast['title'] == movie_title) & (cast['n'].notna())]
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print("Cast of 'North by Northwest' in correct 'n'-value order:")
print(north_by_northwest_cast_sorted[['name', 'n']])

Cast of 'North by Northwest' in correct 'n'-value order:
                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

Display the entire cast, in "n"-order, of the 1972 film "Sleuth"

In [28]:
movie_title = "Sleuth"
movie_year = 1972

sleuth_cast = cast[(cast['title'] == movie_title) & (cast['year'] == movie_year)]
sleuth_cast_sorted = sleuth_cast.sort_values(by='n')
print("Cast of 'Sleuth' (1972) in correct 'n'-value order:")
print(sleuth_cast_sorted[['name', 'n']])

Cast of 'Sleuth' (1972) in correct 'n'-value order:
                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth

In [29]:
movie_title = "Sleuth"
movie_year = 2007

sleuth_2007_cast = cast[(cast['title'] == movie_title) & (cast['year'] == movie_year)]
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print("Cast of 'Sleuth' (2007) in correct 'n'-value order:")
print(sleuth_2007_cast_sorted[['name', 'n']])

Cast of 'Sleuth' (2007) in correct 'n'-value order:
                        name    n
326774         Michael Caine  1.0
1293634             Jude Law  2.0
1805907        Harold Pinter  3.0
260242       Kenneth Branagh  NaN
373877   Alec (II) Cawthorne  NaN
2724552    Eve (II) Channing  NaN
3370424    Carmel O'Sullivan  NaN

How many roles were credited in the silent 1921 version of Hamlet?

In [30]:
movie_title = "Hamlet"
movie_year = 1921

hamlet_1921_cast = cast[(cast['title'] == movie_title) & (cast['year'] == movie_year)]
num_roles_in_hamlet_1921 = hamlet_1921_cast['n'].count()
print("Number of credited roles in the silent 1921 version of 'Hamlet':", num_roles_in_hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

How many roles were credited in Branagh's 1996 Hamlet?

In [33]:
movie_title = "Hamlet"
movie_year = 1996

branagh_hamlet_cast = cast[(cast['title'] == movie_title) & (cast['year'] == movie_year)]
num_roles_in_branagh_hamlet = branagh_hamlet_cast['n'].count()
print("Number of credited roles in Kenneth Branagh's 1996 'Hamlet':", num_roles_in_branagh_hamlet)

Number of credited roles in Kenneth Branagh's 1996 'Hamlet': 46

How many "Hamlet" roles have been listed in all film credits through history?

In [34]:
movie_title = "Hamlet"

hamlet_roles = cast[cast['title'] == movie_title]
total_hamlet_roles_count = hamlet_roles['n'].count()
print("Total number of 'Hamlet' roles listed in all film credits throughout history:", total_hamlet_roles_count)

Total number of 'Hamlet' roles listed in all film credits throughout history: 249

How many people have played an "Ophelia"?

In [35]:
ophelia_roles = cast[cast['character'] == 'Ophelia']
unique_ophelia_actors_count = ophelia_roles['name'].nunique()
print("Number of people who have played the role of 'Ophelia':", unique_ophelia_actors_count)

Number of people who have played the role of 'Ophelia': 115

How many people have played a role called "The Dude"?

In [36]:
the_dude_roles = cast[cast['character'] == 'The Dude']
unique_the_dude_actors_count = the_dude_roles['name'].nunique()
print("Number of people who have played a role called 'The Dude':", unique_the_dude_actors_count)

Number of people who have played a role called 'The Dude': 19

How many people have played a role called "The Stranger"?

In [38]:
the_stranger_roles = cast[cast['character'] == 'The Stranger']
unique_the_stranger_actors_count = the_stranger_roles['name'].nunique()
print("Number of people who have played a role called 'The Stranger':", unique_the_stranger_actors_count)

Number of people who have played a role called 'The Stranger': 202

How many roles has Sidney Poitier played throughout his career

In [39]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']
total_sidney_poitier_roles_count = sidney_poitier_roles['character'].nunique()
print("Number of roles Sidney Poitier has played throughout his career:", total_sidney_poitier_roles_count)

Number of roles Sidney Poitier has played throughout his career: 41

How many roles has Judi Dench played?

In [40]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']
total_judi_dench_roles_count = judi_dench_roles['character'].nunique()
print("Number of roles Judi Dench has played throughout her career:", total_judi_dench_roles_count)

Number of roles Judi Dench has played throughout her career: 46

list the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [41]:
cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')
print("Cary Grant's supporting roles (n=2) in the 1940s, in order by year:")
print(cary_grant_supporting_roles_1940s_sorted[['year', 'character']])

Cary Grant's supporting roles (n=2) in the 1940s, in order by year:
        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

ist the leading roles that Cary Grant played in the 1940s in order by year.

In [42]:
cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')
print("Cary Grant's leading roles (n=1) in the 1940s, in order by year:")
print(cary_grant_leading_roles_1940s_sorted[['year', 'character']])

Cary Grant's leading roles (n=1) in the 1940s, in order by year:
        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

How many roles were available for actors in the 1950s?

In [45]:
actor_roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actor')]
total_actor_roles_in_1950s = actor_roles_in_1950s.shape[0]
print("Number of roles available for actors in the 1950s:", total_actor_roles_in_1950s)

Number of roles available for actors in the 1950s: 157738

How many roles were available for actresses in the 1950s?

In [44]:
actress_roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]
total_actress_roles_in_1950s = actress_roles_in_1950s.shape[0]
print("Number of roles available for actresses in the 1950s:", total_actress_roles_in_1950s)

Number of roles available for actresses in the 1950s: 57733

In [ ]:
How many leading roles (n=1) were available from the beginning of film history through 1980?

In [46]:
leading_roles_until_1980 = cast[(cast['year'] <= 1980) & (cast['n'] == 1)]
total_leading_roles_until_1980 = leading_roles_until_1980.shape[0]
print("Number of leading roles (n=1) available from the beginning of film history through 1980:", total_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

How many non-leading roles were available through from the beginning of film history through 1980?

In [47]:
non_leading_roles_until_1980 = cast[(cast['year'] <= 1980) & (cast['n'] != 1)]
total_non_leading_roles_until_1980 = non_leading_roles_until_1980.shape[0]
print("Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980:", total_non_leading_roles_until_1980)

Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: 1117667

How many roles through 1980 were minor enough that they did not

warrant a numeric "n" rank?

In [48]:
roles_without_n_rank_until_1980 = cast[(cast['year'] <= 1980) & (cast['n'].isna())]
total_roles_without_n_rank_until_1980 = roles_without_n_rank_until_1980.shape[0]
print("Number of roles through 1980 without a numeric 'n' rank:", total_roles_without_n_rank_until_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347